# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Patterns of file or directory names for git to ignore, see
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# ignore everything (in $HOME)
/*

# except following files and directories
!.gitignore
!env.sh
